@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Hi There!</h1>
    <p class="lead">Login to Test Your Website PageSpeed Score</p>
    <p class="lead">
        <a href="/Identity/Account/Login" class="btn btn-lg btn-secondary">Login</a>
    </p>
</main>