@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="inner cover" style="padding-top: 200px;">
    <h1 class="cover-heading" style="line-height: 1.5;font-size: 4rem;">Welcome to Speed Does Matter</h1>
    <p class="lead" style="font-size: 2.1rem;line-height: 80px;letter-spacing: -0.021em;">You can check your Website's PageSpeed score here</p>
    <p class="lead">
        <a href="/Home/PageSpeedTest" class="btn btn-lg btn-success">Go ahead and run the PageSpeed test</a>
    </p>
</main>