@model PageSpeedTestModel

<h1>Add WebsiteURL</h1>

@using (Html.BeginForm("Add", "WebsiteURL", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.WebsiteURL)
        @Html.TextBoxFor(model => model.WebsiteURL, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WebsiteURL)
    </div>

    <button type="submit" class="btn btn-primary">Add Website</button>
}