@model PageSpeedTestModel

@{
    ViewData["Title"] = "View Websites";
}

<h1>Website</h1>

<p>@Model.Id</p>
<p>@Model.WebsiteURL</p>
<p>@Model.PageSpeedTestMobileScore</p>
<p>@Model.PageSpeedTestDesktopScore</p>